.*{
    font-family: 'Roboto', sans-serif;
}

.movie-small h3 {
  font-size: 20px;
  font-size: 2.5vw;
  display: inline;
}

.movie-small img {
  width: 100%;
}

.movie-small {
  border: rgba(133, 133, 133, 0.342) 1px solid;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 10px;
}

.movie-small:hover {
  cursor: pointer;
}

.movieGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
  z-index: 1;
}

.full-movie {
  width: 70vw;
  height: 80vh;
  background-color: rgb(247, 247, 247);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: auto;
  border: rgba(133, 133, 133, 0.342) 1px solid;
  border-radius: 5px;
}

.full-image {
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 100px;
  margin-top: 10%;
}

#title {
  display: inline-block;
  margin-top: 10%;
}

#title-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.text-box {
  padding-right: 10px;
}
